.App {
  max-width: 50rem;
  margin: 0 auto;
}

.default-text {
  text-align: center;
}

.error-text {
  text-align: center;
  color: red;
}

#add{
  background-color: #4c8bf5;
}

#add:active {
  background: #2f5aa2;
  box-shadow: inset 0px 0px 5px #244172;
   outline: none;
}

#remove{
  background-color: white;
  box-sizing: border-box;
  border: 3px solid #f55853;
  color: #f55853;
}

#remove:active {
  background: #e9e9e9;
  box-shadow: inset 0px 0px 5px #e9e9e9;
   outline: none;
}

#remove:hover{ 
  border: 3px solid #ff0700;
  color: #ff0700;
}


.movies-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .movies-container {
    flex-direction: row;
  }
}

.movies {
  flex: 1 1 0px;
  margin: 0 .5rem;
}

.movies-header-text {
  font-family: "Hind", sans-serif;
  text-align: center;
}

.banner {
  width: 100%;
  margin: 1rem 0px;
}

.app-title {
  position: relative;
  stroke-width: 110px * 0.2;
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
  font-size: 3rem;
  color: #e2e9f4;
  text-align: center;
}

.app-title:after {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke-width: 0;
  color: red;
}

.app-title:before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}